spacy==3.3.1
tensorflow==2.9.3
bert-score==0.3.11
numpy==1.22.3
sacremoses==0.0.53
transformers==4.17.0
scipy==1.8.1
datasets==2.3.2
cdifflib==1.2.5
nltk==3.7
rouge-score==0.0.4
sacrebleu==2.1.0
protobuf==3.20.0
